h1{

    text-align:center;
    color: #006600;
}
body{
    text-align: center;
    color:  #ff3399;

}
.a{
    background-color: blue;
    color: white;
}
.content{
    text-align: center;
    position: relative;
    top: 1000px;

}
img{
    width: 100%;
    height: 100%;
}